<div class="row my-4">
    <div class="col-8">
        <div class="card border-0">
            <div class="card-header text-light" style="background-color: #2969b3;">
                <h3 class="card-title">
                    Recent uploads
                </h3>
            </div>
            <div class="card-body">
                {{#each todas}}
                <div class="card mb-4">
                    <div class="card-header text-light" style="background-color: #1a416e;">
                    </div>
                    <div class="card-body" style="background-color: #d1d1d1;">
                        <h3>
                            {{title}}
                        </h3>
                        <hr>
                        <a href="/images/{{_id}}">
                            <img src="../public/upload/{{filename}}" alt="" class="w-100 h-100">
                        </a>
                        <hr>
                        <div class="row">
                            <div class="col-3 d-flex">
                                <button class="btn btn-success btn-sm mr-1 btn-like" data-id="{{_id}}">&#x21e7</button>
                                <button class="btn btn-danger btn-sm btn-unlike" data-id="{{_id}}">&#x21e9</button>
                            </div>
                            <div class="col-3">
                                <label class="ml-1">&#9825 Likes: <span id="likes-count-{{_id}}">{{likes}}</span></label>
                            </div>
                            <div class="col-3">
                                <label>&#9903 Viewes: <span>{{views}}</span></label>
                            </div>
                            <div class="col-3">
                                
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card border-0">
            <div class="card-header text-light" style="background-color: #2969b3;">
                <h3 class="card-title">
                    Stats
                </h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

